.developer-information{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 20px;
}
.developer-information h3{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.developer-information p{
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 10px;
}